.taskList {
  width: 100%;
  border-spacing: 5px;

  td {
    text-align: center;

    p {
      white-space: pre-line;
    }

    .actions {
      display: flex;
      justify-content: center;
      gap: 5px;
    }
  }

  .td-10 {
    width: 10%;
  }

  .td-20 {
    width: 20%;
  }

  .td-30 {
    width: 30%;
  }
}

.filter {
  width: 100%;

  .flexRow {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .flexCol {
    width: 100%;
    display: flex;
    flex-direction: column;

    input {
      height: 100%;
    }
  }
}
