.flexRow {
  width: 100%;
  display: flex;
  align-items: stretch;
  gap: 5px;

  input[type="text"] {
    width: 20%;
  }
  input[type="date"] {
    width: 10%;
  }
  textarea {
    width: 30%;
    resize: none;
  }
  select {
    width: 10%;
  }

  .span-10 {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
